*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}
.pro{
    height: 95vh;
    background-color: rgb(52, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    height: 450px;
    width: 550px;
    border: 1px solid rgb(28, 20, 20);
    border-radius: 8px;
    padding: 20px 26px;
    position: relative;
    background-color: rgb(245, 244, 249);
    text-align: left;
}
.contact{
    height: 2rem;
    border: 2px solid black;
    margin: 1rem;
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 5px 2px;
    width: 90%;
    padding-left: 10px;
}
.item{
padding: 5px;
position: absolute;
left: 3rem;
font-size: 1.3rem;
margin-left: 40px;
}
.item a{
    color: rgb(76, 76, 217);
}
i{
    font-size: 1.6rem;
}