
.pro{
    height: 95vh;
    background-color: rgb(52, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d a{
    color: rgb(89, 89, 213);
    text-decoration: none;
    font-size: 2.5rem;
    text-align: left;

}
.d{
    position: relative;
left: 5px;
}
.box{
    height: 350px;
    width: 443px;
    border: 1px solid rgb(28, 20, 20);
    border-radius: 8px;
    padding: 20px 26px;
    position: relative;
    background-color: rgb(20, 19, 19);
    text-align: left;
}
.box p{
    color: rgb(96, 93, 93);
    font-size: 0.85rem;
}